* {
  box-sizing: border-box;
  font-family: "Inclusive Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 15vh 15vh 1fr;
  align-items: center;
  gap: 0.5rem;
}
main,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.0rem;
  overflow: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110px;
  padding-top: 1vh;
  
  > img {
    width: 100px;
    height: 100px;
  }
}
h1,
h2 {
  margin: 0 0.5rem;
  text-align: center;
}
h1 {
  font-size: clamp(2rem, 4vw, 2.5rem);
}
h2,
h2 > * {
  font-size: clamp(1.4rem, 4vw, 1.75rem);
}
#contact > form {
  padding-top: 2vh;
}
#hero {
  line-height: 15vh;
}
.cta {
  display: block;
  color: #000;
  background: #43B02A;
  padding: 0.5rem 2rem;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  border: 1px solid #000;
  text-decoration: none;
}