# allow from *
AddDefaultCharset UTF-8

<IfModule mod_include.c>
  SSILastModified on
  SSIETag on
  FileETag -INode
</IfModule>

<IfModule mod_headers.c>
  # WEEK
  <FilesMatch "\.(jpg|jpeg|png|gif|svg)$">
    Header set Cache-Control "max-age=604800, public"
  </FilesMatch>

  # WEEK
  <FilesMatch "\.(js|css)$">
    Header set Cache-Control "max-age=604800"
  </FilesMatch>
</IfModule>


# Rewrites
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
